# Torch
--extra-index-url https://download.pytorch.org/whl/rocm5.6
torch

# Exllamav2
https://github.com/turboderp/exllamav2/releases/download/v0.0.11/exllamav2-0.0.11+rocm5.6-cp311-cp311-linux_x86_64.whl
https://github.com/turboderp/exllamav2/releases/download/v0.0.11/exllamav2-0.0.11+rocm5.6-cp310-cp310-linux_x86_64.whl

# Pip dependencies
fastapi
pydantic >= 2.0.0
PyYAML
progress
uvicorn
jinja2 >= 3.0.0
colorlog