version: '3.8'
services:
  tabbyapi:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      args:
        - DO_PULL=true
    ports:
      - "5000:5000"
    environment:
      - NAME=TabbyAPI
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./models:/app/models                                # Change me
      # - /path/to/config.yml:/app/config.yml               # Change me
      # - /path/to/api_tokens.yml:/app/api_tokens.yml       # Change me
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
