{% for message in messages %}
  {% if message['role'] == 'user' %}
    ### Instruction:
    <s>[INST] {{ message['content']|trim }} [/INST]
    {% if not loop.last %}

    {% endif %}
  {% elif message['role'] == 'assistant' %}
    ### Response:
    {{ message['content']|trim }}
    {% if not loop.last %}

    {% endif %}
  {% endif %}
{% endfor %}
{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
    ### Response Placeholder:
    <s>[INST] [/INST]
{% endif %}
